* {
    text-align: center;
    font-family: Georgia;

}
#ojciec {
    display: flex;
}
header,footer {
    background-color: tomato;
    color: mistyrose;
    padding: 10px;
}
nav {
    width: 20%;
}
#blok1,#blok2,#blok3 {
    background-color: #ffaea5;
    height: 170px;
    font-size: 200%;
}
#blok1 {
    background-color: mistyrose;
}
main {
    background-color: mistyrose;
    width: 80%;
    height: 510px;
    overflow: auto;
}
#sekcja2,#sekcja3 {
    display: none;
}
table {
    margin: auto;
    width: 60%;
    border: 1px indigo dotted;
}
dt {
    font-weight: bold;
    font-style: italic;
}
dt:hover {
    font-size: 180%;
}